body {
  background-color: #ffffff;
  color: #37474f;
  font-family: monospace;
  padding: 15px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}

/* .row {
  display: block;
  width: 100%;
  text-align: center;
} */
.main {
  margin-top: 30px;
}
video {
  width: 100%;
  height: 100%;
  border: 1px solid #37474f;
}

/* for image selection */
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}
/* li:before {
  display: inline-block;
  content: "✓";
  position: relative;
  background-color: rgb(169, 236, 152);
  z-index: 10;
} */

.selected {
  border: 4px solid #fff;
  /* padding: 10px; */
  /* display: inline-block; */
  /* position: relative; */
  /* margin: 10px; */
  cursor: pointer;
  border-color: rgb(180, 235, 169);
}

.selected:before {
  content: "✓";
  background-color: rgb(169, 236, 152);
  z-index: 10;
  /* transform: scale(1); */
  /* border: 1px solid #fff;
    padding: 10px; */
  /* display: inline-block;  */
  /* position: relative;  */
  /* margin: 10px; */
  cursor: pointer;
}

.selected-card label {
  position: absolute;
  top: 8px;
  left: 16px;
}
.selected-card label:before {
  content: "✓";
  transform: scale(3);
  color: rgb(169, 236, 152);
  display: inline-block;
  position: relative;
}
