<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta
      content="text/html; charset=utf-8"
      http-equiv="Content-Type"
      author="Karl Storz GmbH & Co. KG"
    />
    <title>TELE PACK X GI</title>
    <link href="report_style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="layout_wrapper">
      <div id="header">
        <div id="ci">
          <div class="logo">
            <img
              width="200"
              height="200"
              alt="Karl Storz GmbH & Co. KG"
              src="colon-and-rectum.png"
            />
          </div>
          <h1>Colonoscopy Report</h1>
        </div>
      </div>

      <div id="column_wrapper">
        <div id="left_column">
          <div id="leftbox">
            <div class="halfarea">
              <div class="headline">
                <img alt="Patient" src="meta/html/icons/patient.gif" />
                <h2>Patient Data</h2>
              </div>
              <table>
                <col />
                <tr>
                  <td>Last Name</td>
                  <td>Alireza</td>
                </tr>
                <tr>
                  <td>First Name</td>
                  <td>Mokhtare</td>
                </tr>
                <tr>
                  <td>Date Of Birth</td>
                  <td>01.01.1984</td>
                </tr>
                <tr>
                  <td>Patient ID</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td>female</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div id="right_column">
          <div id="rightbox">
            <div class="halfarea">
              <div class="headline">
                <img alt="Procedure" src="meta/html/icons/procedure.gif" />
                <h2>Procedure</h2>
              </div>
              <table>
                <col />
                <tr>
                  <td>Surgeon</td>
                  <td>Dr.keshvari</td>
                </tr>
                <tr>
                  <td>Procedure</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Case ID</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>22.12.2020 13:26</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div id="fullbox">
        <div class="fullarea">
          <div class="headline">
            <img alt="Report" src="meta/html/icons/report.gif" />
            <h2>Comment</h2>
          </div>
          <p>
            Total colonoscopy up to cecum was done.<br />There was an ulcerative
            lesion slightly below the previous anastomosis site.<br />Several
            biopsies were taken.<br />Recommendation:follow up pathology result
            & MDT consultation.
          </p>
        </div>
      </div>

      <div id="fullbox">
        <div class="fullarea">
          <div class="headline">
            <img alt="Images" src="meta/html/icons/images.gif" />
            <h2>Images</h2>
          </div>
          <div id="left">
            <div class="thumbnail">
              <a href="IMG0001.jpg"
                ><img alt="IMG0001.jpg" src="IMG0001.jpg" />
                <p>IMG0001.jpg</p></a
              >
            </div>
          </div>
          <div id="right">
            <div class="thumbnail">
              <a href="IMG0002.jpg"
                ><img alt="IMG0002.jpg" src="IMG0002.jpg" />
                <p>IMG0002.jpg</p></a
              >
            </div>
          </div>
          <div id="left">
            <div class="thumbnail">
              <a href="IMG0003.jpg"
                ><img alt="IMG0003.jpg" src="IMG0003.jpg" />
                <p>IMG0003.jpg</p></a
              >
            </div>
          </div>
          <div id="right">
            <div class="thumbnail">
              <a href="IMG0004.jpg"
                ><img alt="IMG0004.jpg" src="IMG0004.jpg" />
                <p>IMG0004.jpg</p></a
              >
            </div>
          </div>
          <div id="left">
            <div class="thumbnail">
              <a href="IMG0005.jpg"
                ><img alt="IMG0005.jpg" src="IMG0005.jpg" />
                <p>IMG0005.jpg</p></a
              >
            </div>
          </div>
          <div id="right">
            <div class="thumbnail">
              <a href="IMG0006.jpg"
                ><img alt="IMG0006.jpg" src="IMG0006.jpg" />
                <p>IMG0006.jpg</p></a
              >
            </div>
          </div>
          <div id="left">
            <div class="thumbnail">
              <a href="IMG0007.jpg"
                ><img alt="IMG0007.jpg" src="IMG0007.jpg" />
                <p>IMG0007.jpg</p></a
              >
            </div>
          </div>
          <div id="right">
            <div class="thumbnail">
              <a href="IMG0008.jpg"
                ><img alt="IMG0008.jpg" src="IMG0008.jpg" />
                <p>IMG0008.jpg</p></a
              >
            </div>
          </div>
          <div id="left">
            <div class="thumbnail">
              <a href="IMG0009.jpg"
                ><img alt="IMG0009.jpg" src="IMG0009.jpg" />
                <p>IMG0009.jpg</p></a
              >
            </div>
          </div>
          <div id="right">
            <div class="thumbnail">
              <a href="IMG0010.jpg"
                ><img alt="IMG0010.jpg" src="IMG0010.jpg" />
                <p>IMG0010.jpg</p></a
              >
            </div>
          </div>
          <div id="left">
            <div class="thumbnail">
              <a href="IMG0011.jpg"
                ><img alt="IMG0011.jpg" src="IMG0011.jpg" />
                <p>IMG0011.jpg</p></a
              >
            </div>
          </div>
          <div class="clearer"></div>
        </div>
      </div>

      <div id="footer"></div>
    </div>
  </body>
</html>
